extends layout
block content
    h1 #{title}
    .form-wrapper
        form(action="/admin/articles/add" method="POST" data-module="addPostForm")
            .user-input
                .form-part
                    .form-element.form-element--text
                        label(for="title") Titre
                        input#add_article_form_title.input--observable(type="text" name="title")
                        span.form-error You must enter a post title
                    .form-element.form-element--wysiwyg-editor
                        p.form-label Contenu de l'article
                        #editorjs
                .form-part.form-footer
                    button.btn.btn--submit#add_article_form_submit_button(type="submit") Save