extends layout

block content
  .form-page-content
    .form-wrapper.form-wrapper--boxed
        .form-wrapper__header
          h1= title
          p Please enter your credentials
        form#configuration-form.form(action="/admin/configuration", method="POST")
          .form__part
              label(for="sitename") Site name
              input#sitename.form__input.form__input--text(type="text" name="sitename" value=formValues.sitename)
          button.btn.btn--submit(type="submit") Save
